<% include ./partials/header %>

          <div class="cover">
            <p>MMDU.</p>
            <p>Online Examination Centre</p>
          </div>

          <div class="features ">
            <div class="row">
              
              <div class="col-3-home">
                <span><i class="fas fa-pen-nib"></i></span>
                <h4>Participate in quizzes</h4>
              </div>
              <div class="col-3-home">
                <span><i class="fas fa-dumbbell"></i></span>
                <h4>Exercise Your Skills</h4>
              </div>
              <div class="col-3-home">
                <span><i class="fas fa-glasses"></i></span>
                <h4>Get Accurate Assessment</h4>
              </div>

            </div>
          </div>

          <div class="container useful-links">

            <h1 class="redish">Start Right Away!</h1>

            <div class="row">
              
              <div class="col-3-home">
                <div>
                  <span><i class="fas fa-user-graduate"></i></span>
                  <h4>Are You A Student?</h4>  
                </div>

                <div>
                  <h5>Login To Your Account To Do The Following : </h5>  
                  <ul>
                    <li>View Personalised Dashboard</li>
                    <li>Take Test</li>
                    <li>View Report based on performance</li>
                  </ul>
                  <a href=""><i class="fas fa-sign-in-alt"></i> Login</a>
                </div>

              </div>

              <div class="col-3-home">
                <div>
                  <span><i class="fas fa-chalkboard-teacher"></i></span>
                  <h4>Are You A Faculty Member?</h4>
                </div>

                <div>
                  <h5>Login To Your Account To Do The Following : </h5> 
                  <ul>
                    <li>Set Test Questions</li>
                    <li>View performance of Individual Student</li>
                    <li>Get Summarized Reports</li>
                  </ul>
                  <a href=""><i class="fas fa-sign-in-alt"></i> Login</a>
                </div>

              </div>

              <div class="col-3-home">
                <h4></h4>    
              </div>

            </div>  
          </div>

          <div class="container useful-links">
            
            <h1 class="redish">Get Customised Report!</h1>

            <div class="row">

              <div class="col-3-home">
                <div>
                  <span><i class="fas fa-newspaper"></i></span>
                  <h4>Report Based On Student Performance</h4>
                </div>

                <div>
                  <h5>Main Points : </h5>
                  <ul>
                    <li>Individual Analysis</li>
                    <li>Answer Discussed</li>
                    <li>Percentile</li>
                  </ul>
                </div>
              </div>

              <div class="col-3-home">
                <div>
                  <span><i class="fas fa-users"></i></span>
                  <h4>Report Based On Class Performance</h4>
                </div>

                <div>
                  <h5>Main Points : </h5>
                  <ul>
                    <li>Reports generate</li>
                    <li>Class Agreggate</li>
                    <li>Discussion</li>
                  </ul>
                </div>
              </div>

              <div class="col-3-home">
                <div>
                  <span><i class="fas fa-file"></i></span>
                  <h4>Summarized Report (Based On Batch)</h4>
                </div>

                <div>
                  <h5>Main Points : </h5>
                  <ul>
                    <li>Batch Wise Report generate</li>
                    <li></li>
                    <li></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

<% include ./partials/footer %>