<% include ../partials/header %>
    <div id="graph-container">
        <div class="graph">
            <canvas id="myChart"></canvas>   
        </div>
    </div>

    <input type="hidden" value="<%=userId%>" id="user_id">


<% include ../partials/footer %>